<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
       <session-factory>
              <property name="connection.provider">
                     NHibernate.Connection.DriverConnectionProvider
              </property>
              <property name="dialect">
                     NHibernate.Dialect.Oracle10gDialect
              </property>
              <property name="connection.driver_class">
                     NHibernate.Driver.OracleDataClientDriver
              </property>
              <property name="connection.connection_string">
                     User Id=XE;
                     Password=oracle;
                     Data Source=(DESCRIPTION=
                     
                     (ADDRESS_LIST=(ADDRESS=
                           (PROTOCOL=TCP)(HOST=ORACLE-PC)(PORT=1521)))
                           (CONNECT_DATA=(SERVICE_NAME= XE)));
                     Pooling=true;
                     Enlist=false;
                     Statement Cache Size=50;
                     Min Pool Size=10;
                     Incr Pool Size=5;
                     Decr Pool Size=2;
              </property>
              <property name="show_sql">true</property>
              
       </session-factory>
</hibernate-configuration>
